* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(199, 174, 223);
}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
}

h1 {
    font-size: 2em;
    color: rgb(160, 26, 160);
}

h2 {
    font-size: 1.5em;
    color: rgb(160, 26, 160);
}

img.lado {
    float: right;
}